In [1]:
import pandas as pd

## Письменный

### как

In [2]:
df_kak_wr = pd.read_excel('written_corpora_rand_kak.xlsx')

In [7]:
df_kak_wr.shape

(684, 19)

In [13]:
df_kak_wr = df_kak_wr.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [17]:
df_kak_wr.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,"нам казалось всего занятнее, так",как,"было известно, что дьякон езди г",1910-1912,художественная,роман,"Его присутствие нам казалось всего занятнее, т..."
1,"Один даже,",как,"говорили, пытался выступить в роли управляющег...",1910-1912,художественная,роман,"Один даже, как говорили, пытался выступить в р..."
2,с « Марейкой- сукой» во главе,как,"будто специально старалась показать рабочему, ...",1910-1912,художественная,роман,Раньше труд рабочих Турчаниновы разматывали по...

In [64]:
df_kak_wr.shape

(508, 7)

In [66]:
df_kak_wr.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_kak_wr.csv', encoding='utf-8', index = False)

### подобно

In [18]:
df_podobno_wr = pd.read_excel('written_corpora_rand_podobno.xlsx')

In [20]:
df_podobno_wr = df_podobno_wr.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [21]:
df_podobno_wr.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,ее тела вздымались и светились,подобно,"косточковым, созревшим на тропической ветке, д...",2003,"нехудожественная, публицистика",статья,Все открытые взору фрагменты ее тела вздымалис...
1,NaN,Подобно,"этому и развитие самого человечества, которое",2003,"нехудожественная, публицистика",статья,"Подобно этому и развитие самого человечества, ..."
2,"которые несут культурную информацию и,",подобно,"генам, передаются по наследству.",2003,"нехудожественная, публицистика",статья,"Им, а также рядом других ученых, была предложе..."

In [63]:
df_podobno_wr.shape

(513, 7)

In [67]:
df_podobno_wr.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_podobno_wr.csv', encoding='utf-8', index = False)

### а-ля

In [22]:
df_ala_wr = pd.read_excel('written_corpora_rand_a-la.xlsx')

In [23]:
df_ala_wr = df_ala_wr.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [24]:
df_ala_wr.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,дополняющее тёмные усы и эспаньолку,а-ля,"Анри катр"", ― типичного монпарнасского интелле...",2010,художественная,повесть,"мягким козырьком вроде той, которую так недолг..."
1,неё были хорошо причёсанные волосы,а-ля,"директуар, а глаза были отнюдь не",2010,художественная,повесть,"Судя по портретам, у неё были хорошо причёсанн..."
2,"с шапкой кудрявых волос, причёсанных",а-ля,"Титус, по крайней мере в юности.",2010,художественная,повесть,"При маленьком росте ключик был коренаст, крепо..."

In [62]:
df_ala_wr.shape

(379, 7)

In [68]:
df_ala_wr.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_ala_wr.csv', encoding='utf-8', index = False)

### аки

In [25]:
df_aki_wr = pd.read_excel('written_corpora_rand_aki.xlsx')

In [26]:
df_aki_wr = df_aki_wr.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [27]:
df_aki_wr.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,Аще же приставить себе,аки,"крылья деревянны, противу естества творит.",1996,художественная,роман,"Аще же приставить себе аки крылья деревянны, п..."
1,"А выдумку,",аки,"дьявольскою помощью снаряженную, после божеств...",1996,художественная,роман,"А выдумку, аки дьявольскою помощью снаряженную..."
2,NaN,аки,"Григорий Богослов” ( до груди, « густа и",2001,художественная,роман,"аки Григорий Богослов” ( до груди, « густа и ш..."

In [61]:
df_aki_wr.shape

(511, 7)

In [69]:
df_aki_wr.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_aki_wr.csv', encoding='utf-8', index = False)

### словно

In [28]:
df_slovno_wr = pd.read_excel('written_corpora_rand_slovno.xlsx')

In [29]:
df_slovno_wr = df_slovno_wr.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [30]:
df_slovno_wr.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,"Длинная, зигзагообразная,",словно,молния.,2003,"нехудожественная, публицистика",статья,"Длинная, зигзагообразная, словно молния. [За..."
1,Они у Бориски и вправду,словно,блестящие угли.,2003,"нехудожественная, публицистика",статья,Они у Бориски и вправду словно блестящие угли....
2,"него с забора и улыбался,",словно,звал поиграть.,2003,"нехудожественная, публицистика",статья,"Щенок смотрел на него с забора и улыбался, сло..."

In [60]:
df_slovno_wr.shape

(1014, 7)

In [70]:
df_slovno_wr.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_slovno_wr.csv', encoding='utf-8', index = False)

### будто

In [31]:
df_budto_wr = pd.read_excel('written_corpora_rand_budto.xlsx')

In [32]:
df_budto_wr = df_budto_wr.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [33]:
df_budto_wr.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,"не отрываясь друг от друга,",будто,"связанные, тычутся в углы, лазят под",1946,художественная,повесть,"Он смотрел, как они, не отрываясь друг от друг..."
1,"курил, делая затяжки так часто,",будто,пил воду.,1946,художественная,повесть,"Он курил, делая затяжки так часто, будто пил в..."
2,А потом как,будто,все ладно пошло.,1946,художественная,повесть,А потом как будто все ладно пошло. [Виктор Н...

In [59]:
df_budto_wr.shape

(1092, 7)

In [71]:
df_budto_wr.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_budto_wr.csv', encoding='utf-8', index = False)

## Устный

### как

In [34]:
df_kak_sp = pd.read_excel('spoken_corpora_rand_kak.xlsx')

In [35]:
df_kak_sp = df_kak_sp.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [36]:
df_kak_sp.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,Ты́,ка́к,пое́дешь- то?,1971,"кино, нехудожественная","кинокомедия, экранизация","Ты́ ка́к пое́дешь- то? [Виктор Титов, Евгений..."
1,А,ка́к,NaN,1971,"кино, нехудожественная","кинокомедия, экранизация","А ка́к? [Виктор Титов, Евгений Петров, Илья И..."
2,э́то… зна́ешь / чё я смотре́л?,Ка́к,это?,1971,"кино, нехудожественная","кинокомедия, экранизация",э́то… зна́ешь / чё я смотре́л? Ка́к это? [В...

In [58]:
df_kak_sp.shape

(507, 7)

In [72]:
df_kak_sp.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_kak_sp.csv', encoding='utf-8', index = False)

### подобно

In [37]:
df_podobno_sp = pd.read_excel('spoken_corpora_rand_podobno.xlsx')

In [39]:
df_podobno_sp = df_podobno_sp.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [40]:
df_podobno_sp.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,"конь"" / iva / "" как / как бы /",подобно,NaN,2003,"кино, нехудожественная","кинодрама, экранизация","aSva / это "" конь"" / iva / "" как / как бы / по..."
1,прошу́ / прекрати́те / э́то же… сме́рти,подо́бно,NaN,1980,"кино, нехудожественная","кинодрама, кинокомедия",Я́ ва́с прошу́ / прекрати́те / э́то же… сме́рт...
2,и если будет создано что-то,подобно,военного блока между нами и Китаем /,1979,"кино, нехудожественная",кинодрама,Я например считаю / что ехать нужно только с т...

In [57]:
df_podobno_sp.shape

(52, 7)

In [73]:
df_podobno_sp.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_podobno_sp.csv', encoding='utf-8', index = False)

### а-ля

In [41]:
df_ala_sp = pd.read_excel('spoken_corpora_rand_a-la.xlsx')

In [42]:
df_ala_sp = df_ala_sp.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [43]:
df_ala_sp.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,никто́ не бу́дет вести́ до́лгий,а́-ля́,NaN,2019,"нехудожественная, устная непубличная речь","домашний, разговор",С тобо́й никто́ не бу́дет вести́ до́лгий а́-ля...
1,Ну да́/ та́м своя́ каните́ль.,а́-ля́,задуше́вные бесе́ды.,2019,"нехудожественная, устная непубличная речь","домашний, разговор",Ну да́/ та́м своя́ каните́ль. а́-ля́ задуше́вн...
2,шесто́го го́да а́а ну та́м,а́-ля́,путеводи́тель по Краснодо́ну/ и вот та́м,2019,"нехудожественная, устная непубличная речь","домашний, разговор",Еди́нственное/ что́ я́ нашла́― э́то а́а во́сем...

In [56]:
df_ala_sp.shape

(23, 7)

In [74]:
df_ala_sp.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_ala_sp.csv', encoding='utf-8', index = False)

### аки

In [44]:
df_aki_sp = pd.read_excel('spoken_corpora_rand_aki.xlsx')

In [45]:
df_aki_sp = df_aki_sp.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [46]:
df_aki_sp.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,А́нька же у на́с,аки,сло́н― споко́йная.,1987,"кино, нехудожественная","кино историческое, кино приключенческое",А́нька же у на́с аки сло́н― споко́йная. [Нин...
1,что прикры́в сра́м лица́ бородо́ю /,аки,го́лубь в свято́м неве́дении возноси́ла моли́твы.,1937,"кино, нехудожественная","кино историческое, экранизация",Те́м и сильна́ была́ Росси́я / что прикры́в ср...
2,Виде́ния сказу́ют/,аки,бы шпио́нами к Бо́гу ходи́ли/ притво́рныя,1973,"кино, нехудожественная",кинокомедия,Виде́ния сказу́ют/ аки бы шпио́нами к Бо́гу хо...

In [55]:
df_aki_sp.shape

(11, 7)

In [75]:
df_aki_sp.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_aki_sp.csv', encoding='utf-8', index = False)

### словно

In [47]:
df_slovno_sp = pd.read_excel('spoken_corpora_rand_slovno.xlsx')

In [48]:
df_slovno_sp = df_slovno_sp.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [49]:
df_slovno_sp.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,Разры́вы,сло́вно,желе́зный ве́тер.,1973,"кино, нехудожественная","кинокомедия, экранизация",Разры́вы сло́вно желе́зный ве́тер. [Алексей Ко...
1,NaN,Сло́вно,ди́кого быка́ / За рога́ беру́ уда́чу!,1973,"кино, нехудожественная","кинодетектив, экранизация",Сло́вно ди́кого быка́ / За рога́ беру́ уда́чу!...
2,То́лько бу́дут но́жики,сло́вно,ре́зать но́-жки́.,2006,"кино, нехудожественная","кинокомедия, кинофарс",То́лько бу́дут но́жики сло́вно ре́зать но́-жки...

In [54]:
df_slovno_sp.shape

(180, 7)

In [76]:
df_slovno_sp.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_slovno_sp.csv', encoding='utf-8', index = False)

### будто

In [50]:
df_budto_sp = pd.read_excel('spoken_corpora_rand_budto.xlsx')

In [51]:
df_budto_sp = df_budto_sp.drop(['Reversed left context', 'Reversed center', 'Punct', 'Title', 'Author', 'Birthday', 'Header', 'Ambiguity', 'Medium', 'Topic', 'Publication', 'Publ_year'], axis=1)

In [52]:
df_budto_sp.head(3)

,Left context,Center,Right context,Created,Sphere,Type,Full context
0,Ну как,бу́дто,на охо́те.,1961,"кино, нехудожественная",кинокомедия,"Ну как бу́дто на охо́те. [Борис Бедный, Юлий..."
1,Как,бу́дто,на охо́те!,1961,"кино, нехудожественная",кинокомедия,"Как бу́дто на охо́те! [Борис Бедный, Юлий Р..."
2,Да как,бу́дто,б поле́гче / това́рищ майо́р.,2007,"кино, нехудожественная",кинокомедия,Да как бу́дто б поле́гче / това́рищ майо́р. ...

In [53]:
df_budto_sp.shape

(598, 7)

In [77]:
df_budto_sp.to_csv(r'C:\Users\User\Desktop\r project\datasets\df_budto_sp.csv', encoding='utf-8', index = False)